<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>TJ Ergathon Tracker</title>
    <style>
      table,
      td,
      th {
        border: 1px solid black;
      }
      table {
        width: 100%;
      }
    </style>
</head>
<body>
<h1>TJ 2020 ERGATHON:</h1>
<h1>{{countdown}}</h1>
    <h2>Individual ergs:</h2>
    <table>
      <tr>
        <th>Node</th>
        <th>Subnode</th>
        <th>Serial</th>
        <th>Distance</th>
      </tr>
      {% for item in erg_list %}
      <tr>
        <td>{{item.node}}</td>
        <td>{{item.subnode}}</td>
        <td>{{item.serial}}</td>
        <td>{{item.distance}}</td>
      </tr>
      {% endfor %}
    </table>
    <i>(Refresh to update. Page will auto-refresh every 5 seconds)</i>
</body>
</html>